# Eclipse
*.class
.project
.gradle
.classpath
.checkstyle
.settings
.node
/build/
*/build
*/*/build/
examples/*/build/
extras/*/build/
bin
.factorypath

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac specific files
.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Eclipse/IntelliJ APT
generated_src/
generated_testSrc/
generated/
